{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{% url 'index' %}">
    <img class="nav-img" src="{% static 'images/Small-bird.png' %}" alt="Out of the Box"/>
    <h1 class="d-inline h5 mr-4">Out of the Box</h1>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto" id="index-opt">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
      </li>
      <li class="nav-item" id="booking-opt">
        <a class="nav-link" href="{% url 'booking' %}">Reservar sesión</a>
      </li>
      <li class="nav-item" id="contact-opt">
        <a class="nav-link" href="{% url 'contact' %}">Contactar</a>
      </li>
    </ul>




    <div class="d-flex align-items-center my-2 my-lg-0">
      {% if user.is_authenticated %}
        <p class="m-0 text-light">Bienvenid@ <em>{{ user.username }}</em></p>
        <a href="/accounts/logout/" class="btn btn-outline-warning my-2 my-sm-0 ml-4">Cerrar sesión</a>
      {% else %}
        <a href="/accounts/login/" class="text-light">Registro</a>
        <a href="/accounts/login/" class="btn btn-outline-warning my-2 my-sm-0 ml-4">Iniciar sesión</a>
      {% endif %}

    </div>
  </div>
</nav>