{% extends 'base.html' %}
{% load static %}

{% block content %}

 <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="{% static 'images/home-header-image.jpg' %}" alt="Nuestra oficina">
            <div class="container">
              <div class="carousel-caption text-left">
                <h2 class="h1">"Tú eres unic@, nuestras soluciones también"</h2>
                <p><a class="btn btn-lg btn-danger" href="{% url 'signup' %}" role="button">Regístrate</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="{% static 'images/behind-the-box-header-image.jpg' %}" alt="Mujer luchando">
            <div class="container">
              <div class="carousel-caption">
                <h2 class="h1">"Vence tus miedos y recupera tu vida"</h2>
                <p><a class="btn btn-lg btn-danger" href="{% url 'booking' %}" role="button">Haz tu reserva</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="{% static 'images/success-stories-header-image.jpg' %}" alt="Hombre disfrutando de la vida">
            <div class="container">
              <div class="carousel-caption text-right">
                <h2 class="h1">“La vida puede ser maravillosa, atrévete a vivirla”</h2>
                <p><a class="btn btn-lg btn-danger" href="{% url 'contact' %}" role="button">Contacta con nosotros</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>

      <div class="container marketing">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Bienvenido a <span class="text-muted">Out of the Box.</span></h2>
            <p class="lead">Para nosotros felicidad y libertad son más que palabras, y creemos que tod@s podemos alcanzarlas con algo de ayuda. Porque sabemos que, cuando se piensa de forma distinta, los resultados que se obtienen también son distintos.</p>
            <p>
              Tenemos el mejor trabajo del mundo: ayudamos a otros a encontrar sus alas para que puedan volar. Para conseguirlo, usamos una combinación a medida de coaching, counselling y psicoterapia.
            </p>
            <p>
              Si quieres más de la vida, si te sientes atrapad@, si tus problemas son un lastre que no te deja avanzar, estamos aquí para ayudarte. Todo es posible, estás list@ para conseguir lo que quieres?
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'images/bird.png' %}" alt="Elia Giménez">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Sobre <span class="text-muted">Elia Giménez.</span></h2>
            <p class="lead">Tras más de 12 años ayudando a otros profesionalmente, para Elia no existe la palabra “imposible”. Es una soñadora pragmática que sabe por experiencia que todo problema tiene una solución y todo obstáculo puede ser superado con los conocimientos, habilidades y apoyos adecuados. Su creatividad, su experiencia y su actitud positiva ante la vida le permiten llevar a otros más allá de lo que ellos mismos podrían imaginar.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'images/profile-elia.jpg' %}" alt="Elia Giménez">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-12 mb-5">
            <h2 class="h1">¿Qué hacemos?</h2>
            <p class="lead">En Out of the Box somos expertos en cambio. Tú nos traes las metas que quieres alcanzar, los problemas que quieres solucionar o las barreras que quieres superar. Nosotros trabajamos contigo para analizar la situación, encontrar tus fortalezas y habilidades, diseñar soluciones, planes y estrategias hechas a medida y ayudarte a implementarlas. Convertimos las posibilidades en realidades, los conflictos en experiencias valiosas y las dificultades en oportunidades para crecer.</p>
          </div>

          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/tree.jpg' %}" alt="Árbol" width="140" height="140">
            <h2>Counselling</h2>
            <p>Crea un entorno donde puedes hablar y ser escuchado sin reservas ni prejuicios, donde puedes sentirte cómod@ y segur@, un espacio para pensar en tí mism@, dar sentido a lo que está pasando en tu vida y encontrar soluciones a tus problemas.</p>
          </div>

          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/baseball.jpg' %}" alt="Entrenador con niño" width="140" height="140">
            <h2>Coaching</h2>
            <p>Está centrado en conseguir cosas en el aquí y el ahora. Te ayuda a rendir más, optimizar tu potencial y encontrar la motivación y la estructura que necesitas para alcanzar tus metas.</p>

          </div>

          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/psicology.jpg' %}" alt="Psicoterapia" width="140" height="140">
            <h2>Psicoterapia</h2>
            <p>Te lleva en un viaje hacia tí mism@, yendo a la raíz de tus problemas para que puedas sanar, crecer sin restricciones y vivir una vida más sana y más plena.</p>

          </div>

        </div>
        <hr class="featurette-divider">
      </div>

{% endblock %}